body {
    background-color:#8fff8e;
}
.light{
 position:absolute ;
 width:80px;
 height:80px;
 top:8%;
 left:5%;
 background-color:grey;
 
 border-radius:50%;
}
.light.two{
 position:absolute ;
 width:50px;
 height:50px;
 top:10%;
 left:40%;
 background-color:coral;
 
 border-radius:50%;
}

.light.three{
 position:absolute ;
 width:20px;
 height:20px;
 top:8%;
 left:50%;
 background-color:aqua;
 
 border-radius:50%;
}
.light.four{
 position:absolute ;
 width:50px;
 height:50px;
 top:15%;
 left:80%;
 background-color:#ffff2f;
 
 border-radius:50%;
}






.light.active{
background-color:yellow;
    
    box-shadow: 0 0 7px #fff, 
    0 0 10px #fff, 
    0 0 21px #fff, 
    0 0 42px #0fa, 
    0 0 82px #0fa, 
    0 0 92px #0fa, 
    0 0 102px #0fa,
     0 0 151px #0fa;
    
}

.light.two::before{
position:absolute ;
content:" ";
width:2px;
height:50px;
background-color:white;
top:0;
transform:translateY(-50px);
left:58%;

    
}
.light.two.active{
background-color:aqua;
    
    box-shadow: 0 0 7px #fff, 
    0 0 10px #fff, 
    0 0 21px #fff, 
    0 0 42px #0fa, 
    0 0 82px #0fa, 
    0 0 92px #0fa, 
    0 0 102px #0fa,
     0 0 151px #0fa;
    
}

.light.three.active{
background-color:blue;
    
    box-shadow: 0 0 7px #fff, 
    0 0 10px #fff, 
    0 0 21px #fff, 
    0 0 42px #0fa, 
    0 0 82px #0fa, 
    0 0 92px #0fa, 
    0 0 102px #0fa,
     0 0 151px #0fa;
    
}


.light.four.active{
background-color:yellow;
    
    box-shadow: 0 0 7px #fff, 
    0 0 10px #fff, 
    0 0 21px #fff, 
    0 0 42px #0fa, 
    0 0 82px #0fa, 
    0 0 92px #0fa, 
    0 0 102px #0fa,
     0 0 151px #0fa;
    
}




.light.three::before{
position:absolute ;
content:" ";
width:2px;
height:50px;
background-color:white;
top:0;
transform:translateY(-50px);
left:68%;}



.light.four::before{
position:absolute ;
content:" ";
width:2px;
height:50px;
background-color:white;
top:0;
transform:translateY(-50px);
left:78%;}












.switch{
    display:grid;
    grid-auto-flow:column;
    justify-content:space-evenly;
    align-items:center;
    width:150px;
    height:80px;
    background-color:white;
    position:absolute ;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    top:70%;
    left:20%;
}
.on,.off{

    margin:2px;
    border:2px solid coral;
    padding:1rem;
}
.on.active{
    background-color:red;
}
.off.active{
    background-color:red;
}


